.footer {
  position: fixed;
 bottom: 0;
 left: 0;
 right: 0;
 min-width: 320px;
}
body {
 padding-bottom: 100px;
 /* @include for-size(tablet) {
   // min-width: 768
 padding-bottom: 77px;
 } */
} 

.footer__container {
 display: flex;
 justify-content: center;
 align-items: center;
 /* background-color: var(--background-footer-color);
 height: 100px;

 @include for-size(tablet) {
   // min-width: 768
   height: 77px;
 } */
}

.footer__text {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: 0;
 font-family: 'Roboto ';
 font-size: 14px;
 color: rgba(0, 0, 0, 0.8);
 line-height: 1, 14;

 /* @include for-size(tablet) {
   // min-width: 768
   font-size: 16px; */
   flex-direction: inherit;
 }

 svg {
   width: 14px;
   height: 14px;
 }


.copyright {
 fill: #656565;
}
.vector {
 fill: #ff6b08;
}
.vector:hover {
 fill: #ff0000;
}

.footer__link {
 color: rgba(0, 0, 0, 0.8);
 text-decoration: underline;
 cursor: pointer;
}

.footer__link:hover {
 color: blue;
}


/* ------------------------------------------------------------------------------------------------------------------ */


.cards {
  padding: 50px 0 50px 0;
}
.services-item {
  text-align: center;
  position: relative;
  color: #fff;
}

.services-item .content {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 300px;
  width: 260px;
  left: 0;
  top: 0;
  text-align: center;
  border-radius: 50%;
  padding-top: 30%;
  transform: perspective(400px) rotateX(-90deg);
  transform-origin: center top 0;
  transition: all 0.5s ease 0s;
  opacity: 0;
}
.services-item:hover .content {
  opacity: 1;
  transform: perspective(400px) rotateX(0deg);
}

.services-item .content .services-item__title {
  margin: 0 0 18px;
  display: block;
  font-size: 22px;
  font-weight: 600;
  font-family: var(--main-font);
}

.services-item .content .services-item__description,
.services-item__email {
  margin: 0 0 12px;
  display: block;
  font-size: 15px;
}

.services-item__email {
  margin-bottom: 35px;
}

.services-item .social {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-item .social .cl_li {
  display: inline-block;
}

.services-item .social .cl_li a {
  display: block;
  color: #fff;
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 0;
  background-color: #f32248;
  margin-right: 5px;
  transition: all 0.5s ease 0s;
  position: relative;
}

.services-item .social .cl_li a:hover,
.our-team.active .social .cl_li a {
  border-radius: 50%;
  text-decoration: none;
}

.services-img {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.services_title {
  text-align: center;
  color: var(--main-decoration-color);
  margin-bottom: 50px;
  font-size: 24px;
  text-transform: uppercase;
}

.services-item {
  margin: 0 auto;
  width: 260px;
}

.services-item:not(:last-child) {
  margin-bottom: 1rem;
}

/* ///////////////////// FOOTER //////////////////// */
.main_footer {
  padding: 31px 0 34px 0;
  background-color: #f7f7f7;
}

.footer__description {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  padding: 0 40px;
  margin: 0 auto;
  text-align: center;
  line-height: 24px;
}
.footer-description__icon {
  margin-bottom: -3px;
}

.footer-description__link {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .services-img {
    border-radius: 50%;
  }

  /* .services_title {
    font-size: 38px;
  } */
}

@media (min-width: 768px) {
  .container {
    width: 620px;
  }

  .services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .services_title {
    font-size: 44px;
  }

  .services-item .content {
    border-radius: 0%;
  }

  .services-item {
    width: 260px;
  }

  .services-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 1rem;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 876px;
  }

  .services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .services-item {
    width: 260px;
  }

  .services-item .content {
    border-radius: 0;
  }
}
